.nav {
	position: sticky;
	background-color: #242331;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	height: 55px;
	padding-left: 25px;
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	font-size: 22px;
}

#header{
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 0;
}

.main-wrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.main-container{
	background-color: #FFFFFF;
	width: 100%;
	max-width: 850px;
	padding: 20px;
	border-radius: 10px;
	border-collapse: collapse;
}

table{
	width: 100%;
	border: 1px solid #CFCFCF;
	border-radius: 8px;
	overflow: hidden;
}
  
th, td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #CFCFCF;
}
  
th{
	background-color: #242331;
	color: #FFFFFF;
}
  
button{
	padding: 6px 12px;
	margin: 5px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	min-width: 100px;
	min-height: 35px;
}

button:hover{
	opacity: 0.5;
}
  
.btn-view{
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	background-color: #FF9F1C;
	color: #242331;
}
  
.btn-edit{
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	background-color: #242331;
	color: #FFFFFF;
}
  
.btn-delete{
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	background-color: #C20114;
	color: #FFFFFF;
}

#add-emp-wrapper {
	width: 100%;
	max-width: 900px;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}
  
#add-emp {
	background-color: #242331;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	font-family: "League Gothic", sans-serif;
	font-weight: 200;
	font-size: 18px;
	min-width: 150px;
	min-height: 50px;
}