<div class="nav">
	EMPLOYEE MANAGEMENT SYSTEM
	</div>
  
<div class="main-wrapper">
	<h1 id="header">EMPLOYEE LIST</h1>
	<div class="main-container">
		<table *ngIf="employees.length > 0">
		<thead>
			<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Employee ID</th>
			<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees">
				<td>{{ employee.first_name }}</td>
				<td>{{ employee.last_name }}</td>
				<td>{{ employee.id }}</td>
			<td>
				<button class="btn-view" (click)="viewEmployee(employee.id)">View</button>
				<button class="btn-edit" (click)="editEmployee(employee.id)">Edit</button>
				<button class="btn-delete" (click)="deleteEmployee(employee.id)">Delete</button>
			</td>
			</tr>
		</tbody>
		</table>

		<div *ngIf="employees.length === 0">
		No employees found.
		</div>
	</div>

	<div id="add-emp-wrapper">
		<button id="add-emp-btn" (click)="addEmployee()">ADD NEW EMPLOYEE</button>
	</div>
</div>