<div class="login-wrapper">
	<div class="login-form-container">
	  <h1 id="header">DELETE EMPLOYEE</h1>
  
	  <div class="inputs" *ngIf="employee">
		<label class="labels">FIRST NAME:</label>
		<div class="input-box">{{ employee.first_name }}</div>
  
		<label class="labels">LAST NAME:</label>
		<div class="input-box">{{ employee.last_name }}</div>
  
		<label class="labels">EMAIL:</label>
		<div class="input-box">{{ employee.email }}</div>
  
		<label class="labels">GENDER:</label>
		<div class="input-box">{{ employee.gender }}</div>
  
		<label class="labels">DESIGNATION:</label>
		<div class="input-box">{{ employee.designation }}</div>
  
		<label class="labels">DEPARTMENT:</label>
		<div class="input-box">{{ employee.department }}</div>
  
		<label class="labels">SALARY:</label>
		<div class="input-box">{{ employee.salary | currency }}</div>
  
		<label class="labels">DATE OF JOINING:</label>
		<div class="input-box">{{ employee.date_of_joining | date }}</div>
	  </div>
  
	  <div id="keyline"></div>
  
	  <div class="footer-container">
		<button id="forgot-pass-btn" (click)="goBack()">Cancel</button>
		<button
		  class="btn-delete"
		  style="margin-left: 20px; background-color: #c20114; color: white;"
		  (click)="deleteEmployee()"
		>
		  Delete Employee
		</button>
	  </div>
	</div>
  </div>
  
