<div class="login-wrapper">
	<div class="login-form-container">
		<h1 id="header">SIGN IN PORTAL</h1>
		<form>
		<div class="inputs">
			<label class="labels">ENTER YOUR EMAIL:</label>
			<input class="input-box" type="email" placeholder="Email" />
		</div>

		<div class="inputs">
			<label class="labels">ENTER YOUR PASSWORD:</label>
			<input class="input-box" type="password" placeholder="Password" />
		</div>

		<button id="login-button" type="button" (click)="onLogin()">SUBMIT</button>
		</form>
	</div>
</div>